{% extends 'base.html.twig' %}

{% block title %}Editar categoría{% endblock %}

{% block content %}
    <h1>Editar categoría</h1>

    {{ include('category/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('category_index') }}">regresar al listado</a>

    {{ include('category/_delete_form.html.twig') }}
{% endblock %}
