{% extends 'base.html.twig' %}

{% block title %}Nueva categoría Category{% endblock %}

{% block content %}
    <h1>Crear nueva categoría</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">regresar al listado</a>
{% endblock %}
