{% extends 'base.html.twig' %}

{% block title %}Nuevo producto{% endblock %}

{% block content %}
    <h1>Crear nuevo producto</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('product_index') }}">regresar al listado</a>
{% endblock %}
